main.main-content {
	position: relative;
	background-size: cover;
	background-attachment: fixed;
	background-position: center left;

	&:after {
		content: '';
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		background: radial-gradient(circle, var(--color__bungie-medium_blue) 0%,  var(--color__bungie-dark_blue) 100%);
		opacity: 0.75;
		z-index: 1;
	}
}