// ---------------------------------
// 		Gunsmith
// ---------------------------------
	// Base
	@import 'base/variables';
	@import 'base/base';
	@import 'base/typography';

	// Layout
	@import 'layout/layout';

	// Components
		// Header
		@import 'components/header/header';

		// Header
		@import 'components/base';

		// Search
		@import 'components/search/search';
		@import 'components/search/search-input';
		@import 'components/search/search-filters';
		@import 'components/search/search-suggestions';

		// Weapon
		@import 'components/weapon/weapon';
		@import 'components/weapon/weapon-vanity';
		@import 'components/weapon/weapon-stats';
		@import 'components/weapon/weapon-perks';
		@import 'components/weapon/weapon-mods';
		@import 'components/weapon/weapon-masterworks';

		// Current
			@import 'components/weapon/current/current';
			@import 'components/weapon/current/current-perks';
			@import 'components/weapon/current/current-mod';
			@import 'components/weapon/current/current-masterwork';
<<<<<<< Updated upstream
=======
			@import 'components/weapon/current/current-share';
			@import 'components/weapon/current/current-screenshot';
			@import 'components/weapon/current/current-wishlist';
>>>>>>> Stashed changes

		// Tooltip
		@import 'components/tooltip/tooltip';


