.weapon__current-perks {
	
	ul.perk-list {
		display: flex;
		justify-content: flex-start;
		list-style-type: none;
		padding: 0;
		margin: 0;

		li {
			position: relative;
			padding: 0.25rem;
			margin-right: 0.5rem;

			&:after {
				content: '';
				display: block;
				width: 44px;
				padding-bottom: 100%;
			}

			&.curated .perk-icon:before { border: 2px solid rgba(#b78c25, 0.6); }
			&.curated .perk-icon:after { border: 1px solid #b78c25; }
			
			&.curated-only .perk-icon:after { border: 1px solid #973835; }

			&:hover {
				.perk-icon:before { background: rgba(#f5f5f5, 0.3); }
				&.curated .perk-icon:before { background: rgba(#b78c25, 0.3); }
				&.curated .perk-icon:after { border: 1px solid #b78c25; }
				&.curated-only .perk-icon:before { background: rgba(#973835, 0.3); }
				&.curated-only .perk-icon:after { border: 1px solid #973835; }

				.perk-icon:after {
					opacity: 1;
				}

				.perk-info {
					display: block;
					opacity: 1;
				}
			}
		}
	}

	.perk-icon {
		display: flex;
		justify-content: center;
		align-items: center;
		position: relative;
		width: 44px;
		height: 44px;
		position: absolute;

		&:before {
			content: '';
			position: absolute;
			top: 50%;
			left: 50%;
			transform: translate(-50%, -50%);
			width: 100%;
			padding-bottom: 100%;
			background: rgba(#f5f5f5, 0);
			border: 2px solid rgba(#f5f5f5, 0.6);
			border-radius: 50%;
			z-index: 1;
			transition: background 0.2s cubic-bezier(0.7, 0, 0.3, 1);
			pointer-events: none;
		}

		&:after {
			content: '';
			position: absolute;
			top: 50%;
			left: 50%;
			transform: translate(-50%, -50%);
			width: calc(100% + 9px);
			padding-bottom: calc(100% + 9px);
			border: 1px solid #f5f5f5;
			border-radius: 50%;
			opacity: 0;
			transition: opacity 0.2s cubic-bezier(0.7, 0, 0.3, 1);
			pointer-events: none;
		}

		img {
			max-width: calc(100% - 0.75rem);
			z-index: 2;
		}
	}
}