header.app__header {
	background: var(--color__bungie-medium_blue);
	box-shadow: 0 0 20px rgba(15,15,15, 0.3);
	position: sticky;
	top: 0;
	height: 100vh;

	@include media('<lg') {
		height: auto;
		z-index: 9;
	}
}

// .header__container {
	
// }

.app__logo {
	text-align: right;
	padding: 0.5rem;
	background: rgb(18,23,28);
	background: linear-gradient(270deg, rgba(15,15,15,1) 0%, rgba(24,29,37,1) 95%, rgba(24,29,37,1) 100%);
	
	span {
		text-transform: uppercase;
		font-weight: bold;
		font-size: 1.4rem;
		cursor: pointer;
	}

	.menu-icon__wrapper {
		position: relative;
		// top: 0.65rem;
		// right: 1rem;
		padding: 0.75rem 1rem;
	}

	i.menu-icon {
		position: absolute;
		top: 0.15rem;
		left: 0;
		transition-duration: 0.3s;
		width: 30px;
		height: 2px;
		background-color: var(--color__bungie-white);
		
		&:before,
		&:after {
			content: "";
			border-radius: 0px;
			transition-duration: 0.5s;
			content: "";
			position: absolute;
			top: 8px;
			left: 0;
			background-color: var(--color__bungie-white);
			width: 30px;
			height: 2px;
		}

		&:after {
			top: 16px;
		}
		&.show {
			width: 0;
			background-color: var(--color__bungie-gold);

			&:after {
				top: 8px;
				transform: rotate(45deg);
				background-color: var(--color__bungie-gold);
			}
			&:before {
				transform: rotate(-45deg);
				background-color: var(--color__bungie-gold);
			}
		}
	}

	@include media('>=lg') {
		.menu-icon__wrapper { display: none; }
	}

	@include media('<lg') {
		text-align: left;
		background: linear-gradient(90deg, rgba(15,15,15,1) 0%, rgba(24,29,37,1) 95%, rgba(24,29,37,1) 100%);
		display: flex;
		justify-content: space-between;

		.menu-icon__wrapper {
			display: block;
		}
	}
}