.weapon__masterworks {
	label {
		position: relative;
		flex-basis: 40%;
		margin-right: 1rem;

		&:after {
			content: '';
			position: absolute;
			right: 1rem;
			bottom: 0.75rem;
			width: 0; 
			height: 0; 
			border-left: 0.35rem solid transparent;
			border-right: 0.35rem solid transparent;
			border-top: 0.5rem solid var(--color__bungie-white);
			pointer-events: none;
		}
	}
	select {
		width: 100%;
		border: none;
		font-size: 1rem;
		-webkit-appearance: none;
		cursor: pointer;
		@include button($bg-color: #0a0a0a);
		font-weight: normal;
		// letter-spacing: -0.5px;

		option {
			background: var(--color__bungie-medium_blue);
		}
	}

	.masterwork-sections {
		display: flex;
		justify-content: space-between;
		align-items: flex-start;

		section {
			flex-basis: calc(50% - 0.5rem);
			margin-left: 0.5rem;
			margin-right: 0.5rem;
			

			&:nth-of-type(odd) {
				margin-left: 0;
			}

			&:nth-of-type(even) {
				margin-right: 0;
			}

			> span {
				display: block;
				padding: 0.5rem 0;
			}

			.mw-icon {
				position: relative;
				display: flex;
				box-shadow: 0 0 0 1px var(--color__bungie-white);
				transition: 
					color 0.2s var(--transition_cubic_bezier), 
					border-color 0.2s var(--transition_cubic_bezier),
					background-color 0.2s var(--transition_cubic_bezier);
	
				&:before {
					content: '';
					position: absolute;
					top: 0;
					left: 0;
					width: 100%;
					height: 100%;
					background: var(--color__bungie-white);
					opacity: 0;
				}
	
	
				&:after {
					content: '';
					position: absolute;
					top: -3px;	
					left: -3px;
					pointer-events: none;
					box-shadow: 0 0 0 2px var(--color__bungie-white);
					width: calc(100% + 6px);
					height: calc(100% + 6px);
					opacity: 0;
					transform: scale(1.1);
					transition: 
						opacity 0.2s cubic-bezier(0.19, 1, 0.22, 1),
						transform 0.5s cubic-bezier(0.19, 1, 0.22, 1);
				}
	
				&:hover {
					&:before {
						opacity: 0.15;
					}
					
					&:after {
						opacity: 0.8;
						transform: scale(1);
					}
				}
			}
		}
	}

	ul.masterwork-list {
		display: flex;
		flex-flow: row wrap;
		list-style-type: none;
		padding: 0;
		margin: 0 -0.25rem;
		flex-basis: 60%;

		li.node {
			// position: relative;
			padding: 0 calc(0.5rem - 2px);
			margin-bottom: 0.75rem;
			cursor: pointer;

			&.active .mw-icon {
				// box-shadow: 0 0 0 2px var(--color__game-active);
				&:before {
					opacity: 0.3;
					filter: brightness(1.2)
				}
			}
		}
	}

	.mw-icon {
		position: relative;
		display: flex;
		box-shadow: 0 0 0 1px var(--color__bungie-white);
		max-width: 52px;
		transition: 
			color 0.2s var(--transition_cubic_bezier), 
			border-color 0.2s var(--transition_cubic_bezier),
			background-color 0.2s var(--transition_cubic_bezier);
		-webkit-user-select: none; /* Chrome/Safari */        
		-moz-user-select: none; /* Firefox */
		-ms-user-select: none;

		&:before {
			content: '';
			position: absolute;
			top: 0;
			left: 0;
			width: 100%;
			height: 100%;
			background: var(--color__bungie-white);
			opacity: 0;
			transition: 
				opacity 0.2s cubic-bezier(0.19, 1, 0.22, 1),Z
		}


		&:after {
			content: '';
			position: absolute;
			top: -3px;	
			left: -3px;
			pointer-events: none;
			box-shadow: 0 0 0 2px var(--color__bungie-white);
			width: calc(100% + 6px);
			height: calc(100% + 6px);
			opacity: 0;
			transform: scale(1.1);
			transition: 
				opacity 0.2s cubic-bezier(0.19, 1, 0.22, 1),
				transform 0.5s cubic-bezier(0.19, 1, 0.22, 1);
		}

		&:hover {
			&:before {
				opacity: 0.15;
			}

			&:after {
				opacity: 0.8;
				transform: scale(1);
			}
		}

		@include media('<lg') {
			align-items: flex-start;
		}
	}
}