.weapon__vanity {
	position: relative;
	display: flex;
	flex-direction: column;
	padding: 1rem;
	background-size: cover;
	background-position: center;
	background-color: radial-gradient(circle, #162625 0%, #233e3c 100%);
	border-top: 4px solid;

	&:before {
		content:'';
		position: absolute;
		top: 0;
		left: 0;
		right: 0;
		bottom: 0;
		background: rgba(#141414, 0.1);
		z-index: 1;
	}

	@include media('<xl') {
		position: sticky;
		top: 0;
		z-index: 999;
		box-shadow: 0px 10px 20px -10px rgba(black, 1);
		align-self: auto;
		overflow: hidden;
		padding: 0.5rem;
	}

	&.kinetic { border-color: var(--color__bungie-white); }
	&.arc { border-color: var(--color__game-arc); }
	&.solar { border-color: var(--color__game-solar); }
	&.void { border-color: var(--color__game-void); }

	.weapon__display {
		display: flex;
	}

	.icon {
		height: 52px;
		width: 52px;
		box-shadow: 0 0 0 2px var(--color__bungie-white) inset;
		background-size: cover;
		margin-right: 1rem;
		z-index: 1;
	}

	.title {
		display: flex;
		flex-direction: column;
		z-index: 1;

		.name {
			position: relative;
			left: -2px;
			font-size: 2rem;

			@include media('<lg') {
				font-size: 1.25rem;
			}
		}

		.type {
			@include media('<lg') {
				font-size: 0.8rem;
			}
		}
	}
}