.tooltip {
	position: absolute;
	z-index: 9999;
	width: 360px;

	&:before {
		content: '';
		position: absolute;
		z-index: 1;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		filter: blur(1rem);
	}

	header {
		position: relative;
		z-index: 2;
		border-top: 5px solid var(--color__game-common);
		background: rgba(#000, 1);
		text-transform: uppercase;
		padding: 0.5rem 1rem;
		
		h3 {
			margin: 0;
			font-size: 1.3rem;
		}

		span {
			display: block;
			margin-top: 0.25rem;
			font-weight: 400;
			text-transform: none;
			font-size: 0.9rem;
			color: var(--color__game-common);
			text-transform: capitalize;
		}
	}

	.tooltip-content {
		position: relative;
		z-index: 2;
		padding: 0.5rem 1rem;
		margin: 0;
		background: rgba(26,26,26,1);
		font-size: 0.8rem;

		pre {
			margin: 0;
			padding-bottom: 0.25rem;
			font-family: var(--font__primary);
			white-space: pre-wrap;

			+ span {
				display: block;
				margin-top: 0.25rem;
				font-family: var(--font__primary);
				white-space: pre-wrap;
				font-style: italic;
				color: var(--color__system-dark_grey);
			}
		}
	}

	.tooltip-stats {
		border-top: 1px solid var(--color__bungie-white);
		padding: 0.5rem 1rem;
		margin: 0.5rem 0 0;

		ul {
			letter-spacing: none;
			padding: 0;	
			margin: 0;

			li.stat {
				position: relative;
				display: flex;
				justify-content: flex-end;
				align-items: center;
				line-height: 1.15rem;
				font-size: 1rem;
				margin-bottom: 0.25rem;

				.stat__desc {
					display: flex;
					align-items: center;
					font-size: 0.8rem;
					text-align: right;
					padding-right: 0.5rem;
				}
		
				.stat__value {
					position: relative;
					display: flex;
					align-items: center;
					flex-basis: 60%;
					font-size: 0.9em;
				}
			}
		}
	}
}


.__react_component_tooltip {
	padding: 0 !important;
	margin: 0 !important;
	background: transparent;
	transition: none;

	&:before, &:after {
		content: none !important;
	}
}