.search__input {
	position: relative;
	width: 100%;
	margin-bottom: 1rem;

	&:after {
		content: '';
		position: absolute;
		bottom: 0;
		left: 0;
		width: 100%;
		height: 1px;
		background: rgb(245,245,245);
		background: linear-gradient(270deg, rgba(245,245,245,1) 15%, rgba(245,245,245,0) 100%);
	}

	input[type='text'] {
		width: calc(100% - 2rem);
		flex-grow: 1;
		padding: 1rem;
		margin: 0;
		font-size: 1rem;
		line-height: 1rem;
		border: none;
		background: transparent;
		color: var(--color__bungie-white);
		opacity: 1;
		transition: opacity 1s var(--transition_cubic_bezier);
		-webkit-appearance: none;
		border-radius: 0;
	
		&[disabled] {
			opacity: 0;
		}

		@include media('<lg') {
			outline: none;
		}

		&::-webkit-input-placeholder { /* Chrome/Opera/Safari */
			color: var(--color__bungie-white);
			opacity: 0.3;
			// padding-right: 2rem;
		}
		&::-moz-placeholder { /* Firefox 19+ */
			color: var(--color__bungie-white);
			opacity: 0.3;
			// padding-right: 2rem;
		}
		&:-ms-input-placeholder { /* IE 10+ */
			color: var(--color__bungie-white);
			opacity: 0.3;
			// padding-right: 2rem;
		}
		&:-moz-placeholder { /* Firefox 18- */
			color: var(--color__bungie-white);
			opacity: 0.3;
			// padding-right: 2rem;
		}
	}

	i.icon {
		position: absolute;
		top: 0.85rem;
		right: 1rem;
		display: inline-block;
		width: 0.8rem;
		height: 0.8rem;
		border: 0.15rem solid var(--color__bungie-white);
		border-radius: 50%;
		opacity: 0.3;

		&:before {
			content: "";
			display: inline-block;
			position: absolute;
			right: -0.5rem;
			bottom: -0.25rem;
			border-width: 0;
			background: var(--color__bungie-white);
			width: 0.6rem;
			height: 0.1rem;
			transform: rotate(45deg);
		}
	}
}