.search__suggestions {
	position: relative;
	left: -0.5rem;
	width: calc(100% + 1rem);
	overflow-y: auto;
	padding-right: 0.5rem;

	@include media('<lg') {
		padding-right: 0;
		width: 100%;
		left: 0;
	}

	> span {
		display: block;
		text-transform: uppercase;
		padding: 0.5rem;
	}
}

ul.suggestions-list {
	position: relative;
	left: 0.5rem;
	display: flex;
	flex-direction: column;
	
	list-style-type: none;
	padding: 0;
	margin: 0;
	width: calc(100% - 1rem);
	overflow-y: scroll;
	scrollbar-width: none; /* Firefox */
	-ms-overflow-style: none;  /* IE 10+ */

	&::-webkit-scrollbar { /* WebKit */
		width: 0px;
	}

	@include media('<lg') {
		width: 100%;
		left: 0;
	}

	li {
		@include button;
		position: relative;
		display: inline-flex;
		justify-content: space-between;
		align-items: stretch;
		margin-bottom: 1rem;
		cursor: pointer;
		padding: 0;
		letter-spacing: 0;
		line-height: 1rem;
		font-weight: normal;
		text-transform: none;
		background: rgba(var(--color__bungie-white), 0.9);

		// &:hover {
		// 	&:after {
		// 		opacity: 0;
		// 		transform: scale(1.1);
		// 	}
		// }
	}
}

.suggestion-icon {
	position: relative;
	flex-shrink: 1;
	align-self: flex-start;
	height: 44px;
	width: 44px;
	overflow: hidden;
	z-index: 1;

	img {
		position: relative;
		top: 1px;
		left: 1px;
		width: 43px;
		height: 42px;
	}
}

.suggestion-title {
	flex-grow: 1;
	background: rgba(white, 0.05);
	height: 100%;
	line-height: 2.75rem;
	padding: 0 1rem;
}