.search__wrapper {
	position: relative;
	padding-right: 1rem;

	@include media('<xl') {
		padding-left: 0.5rem;
		padding-right: 0.5rem;
	}

	@include media('<lg') {
		position: absolute;
		top: 0;
		left: -100%;
		width: 80%;
		min-height: 100vh;
		max-height: 100vh;
		overflow-y: scroll;
		background: var(--color__bungie-dark_blue);
		transition: left 0.3s var(--transition_cubic_bezier);

		&.show {
			left: 0%;
		}
	
		&.hide {
			left: -105%;
		}
	}
}