@mixin button(
	$text-color: var(--color__bungie-white), 
	$bg-color: var(--color__bungie-white),
	$border-color: var(--color__bungie-white),
) {
	position: relative;
	display: inline-block;
	// border: 1px solid $main-color;
	border-radius: 0;
	padding: 0.5rem 1rem;
	color: $text-color;
	background: rgba($bg-color, 0.1);
	box-shadow: 0 0 0 1px $border-color inset;
	text-decoration: none;
	text-transform: uppercase;
	font-weight: bold;
	letter-spacing: 1px;
	transition: 
		color 0.2s --var(transition_cubic_bezier), 
		border-color 0.2s --var(transition_cubic_bezier),
		background-color 0.2s --var(transition_cubic_bezier);


	&:after {
		content: '';
		position: absolute;
		top: -2px;
		left: -2px;
		pointer-events: none;
		box-shadow: 0 0 0 2px $border-color;
		width: calc(100% + 4px);
		height: calc(100% + 4px);
		opacity: 0;
		transform: scale(1.1);
		transition: 
			opacity 0.2s cubic-bezier(0.19, 1, 0.22, 1),
			transform 0.5s cubic-bezier(0.19, 1, 0.22, 1);
	}

	&:hover {
		&:after {
			opacity: 0.8;
			transform: scale(1);
		}
	}
}