@import '../base/_variables';
@import '../mixins/_include-media.scss';
@import '../mixins/_button.scss';

html, body {
	background: #000;
	// height: 100%;
}

body {
	font-family: var(--font__primary);
	font-size: 16px;
	background: var(--color__system-black);
	color: var(--color__system-white);
}

img {
	max-width: 100%;
	height: auto;
}

h1, h2, h3, h4, h5, h6 {
	font-family: var(--font__secondary);
}

a {
	color: var(--color__bungie-yellow);
	text-decoration: none;
}